.social {
    position: fixed;
    right: 0;
    top: 40%;
    z-index: 10;
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.social>div {
    padding: 15px;
    padding-bottom: 0;
    cursor: pointer;
    transition: 300ms all;
}

.social>div:hover {
    transform: scale(1.2);
}

.social>div:last-child {
    padding-bottom: 15px;
}