footer{
  background-color: var(--primary-color);
  padding-top: 120px;
  display: block;
}
.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.footer-content p{
  font-size: .9rem;
  opacity: .5;
  color: white;
}

@media (max-width: 600px) {
  .footer-content{
    flex-direction: column;
    gap: 2rem;
    margin-top: 60px;
  }
}