footer{
  background-color: var(--primary-color);
  padding-top: 120px;
}
.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.footer-content p{
  font-size: .9rem;
  opacity: .5;
  color: white;
}